:root {
    --background-color: #FBF9F2;
    --main-color: #0C0C0C;
}

body{ 
    font-family: 'Martian Mono', monospace;
}

h3 {
    text-align: center;
    color: var(--background-color);
    font-size: 3rem;
}

img {
    max-width: 40px;
}

.nav {
    padding: 2rem 0rem 2rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav a {
    font-weight: bold;
    padding-top: 2rem;
}

.background {
    border-radius: 10px;
    margin: auto;
    max-width: 80%;
    background-color: var(--main-color);
    color: var(--background-color);
}

.formFather {
display: flex;
flex-direction: column;
align-items: center;
}

#formulario {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

input {
    border-style: solid;
    border-color: var(--main-color);
    border-radius: 4px;
    margin-right: 2rem;
}

button {
    background-color: var(--background-color);
    border-radius: 10px;
}

button:hover {
    background-color: purple;
    border-color: purple;
    cursor: pointer;
}

.background .lista-tareas{
    margin-top: 10px;
    font-weight: 300;
    font-size: 2em;
    color: whitesmoke;
}

.background .lista-tareas{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tareas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
   
}

.btn {
    border: none;
    color: white;
    margin-top: 1rem;
  
}

.btn-editar {
    background-color: var(--background-color);
    color: var(--main-color);
    margin-right: 1rem;
    margin-left: 1rem;
}

.btn-eliminar {
    background-color: red;
}

.list-item {
    color: var(--background-color);
    border: 3px solid var(--background-color);
    padding: 2rem 42rem;
    text-align: center;
    font-size: 2rem;
}

@media (max-width: 1250px) {
    #formulario {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: justify;
    
    }
    input {
        border-style: solid;
        border-color: var(--main-color);
        border-radius: 4px;
        margin-bottom: 1rem;
    }
    .list-item {
        color: var(--background-color);
        text-align: center;
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        
    }
    .btn {
    max-width: fit-content;
    padding: .5rem;
    margin-top: 1rem;
  
}

}